doctype html
html(lang='en')
 head
  style.
       account {
            font-family: Verdana;
            font-size: 10pt;
            text-align: right;
        }
        cssClassExample { 
          font-family: Tahoma, Geneva, sans-serif;
          text-align:center; 
        }
       
  title SEER
body
   account
    p
     a(href='/signup') Signup |
     a(href='/login')  Login |
     a(href='/submit')  Submit
   cssClassExample
    h1(style="text-align:middle;") SEER
    form(action="/auth/index", method="POST")
     p Description: 
      input(type="text" name="title")
     p Date Range from: 
      input(type="date" name="datestart") 
      a  to 
      input(type="date" name="dateend")
      p
       input(type="submit" value='Search')
