doctype html
html(lang='en')
 head
  style.
       account {
            font-family: Verdana;
            font-size: 10pt;
            text-align: right;
        }
        cssClassExample { 
          font-family: Tahoma, Geneva, sans-serif;
          text-align:center; 
        }
       
  title SEER
body
   account
    p
     a(href='/') Index |
     a(href='/login')  Login |
     a(href='/submit')  Submit
   cssClassExample
    h1(style="text-align:middle;") Sign up
    form(action="/auth/signup", method="POST")
      p User Name: 
        input(type="text" name="username" placeholder="")
      p Full Name: 
        input(type="text" name="fullname" placeholder="") 
      p Email: 
          input(type="text" name="email" placeholder="")
      p Password: 
        input(type="text" name="password" placeholder="")
      p Affiliation: 
        input(type="text" name="affiliation" placeholder="")
      p Age: 
        input(type="text" name="age" placeholder="")
      p Gender: 
        input(type="text" name="gender" placeholder="")
      p
        input(type="submit" value='Create')

     
        